WebPractFinal/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceExamen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceExamen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clientes" nillable="true" type="tns:clientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclientes" nillable="true" type="tns:ArrayOfclientes" />
  <xs:complexType name="clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idpais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrecia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrepais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clientes" nillable="true" type="tns:clientes" />
  <xs:complexType name="ArrayOfpaises">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paises" nillable="true" type="tns:paises" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpaises" nillable="true" type="tns:ArrayOfpaises" />
  <xs:complexType name="paises">
    <xs:sequence>
      <xs:element minOccurs="0" name="idpais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrepais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paises" nillable="true" type="tns:paises" />
</xs:schema>